---
---

@import "{{ site.theme }}";



hr {border: 0; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; height:0;}

.image1
{
  border-radius: 35px;
}

.image2
{
    border: 0px;
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, .0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .0);
    border-radius: 0px 0px 0px 0px;
    background: none;
}
