---
---

@import "{{ site.theme }}";



hr {border: 0; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; height:0;}

.image1
{
  border-radius: 35px;
}

.image2 {
    border: 1px solid #000000;
}
